.title {
    margin-top: 125px;
    font-size: 45px;
    color: white;
    text-align: center;
    font-weight: 700;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: white;
    font-size: 20px;
    color: #0FC5FE;
    cursor: pointer;
}

.subtitle {
    margin-top: 15px;
    font-size: 24px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.text {
    width: 60%;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(1px);
    padding: 15px 30px;
    text-align: center;
    border-radius: 40px;
    font-size: 24px;
    margin: 30px auto 0;

    p {
        width: 80%;
        margin: 0 auto;

        &:last-child {
            margin-top: 15px;
        }
    }
}