@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import 'general';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    background: url(../img/bg.jpg) center / contain;
    height: 300vh;
}

.container {
    width: 1200px;
    margin: 50px auto;
    background: rgba(171, 107, 61, 70%);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;

    &__nav {
        display: flex;
        list-style: none;
        gap: 50px;

        li {
            font-size: 22px;
            color: white;
            cursor: pointer;

        }
    }

    &__active {
        border-bottom: 3px solid #673333;
    }

    &__button {
        cursor: pointer;

    }

    &__logo {
        height: 100%;

        img {
            height: 100%;
        }
    }
}

.sale {
    &__title {}

    &__block {
        margin-top: 30px;
    }

    &__image {

        img {
            display: block;
            margin: 0 auto;
            width: 60%;
            object-fit: cover;
        }

    }

    &__text {}
}

.form {

    &__title {}

    &__subtitle {}

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__element {
        margin-top: 30px;
        width: 40%;
        border: none;
        border-radius: 15px;
        height: 65px;
        padding-left: 25px;
        font-size: 24px;
        background: white;

    }

    &__button {
        margin-top: 30px;
        width: 30%;
    }
}


.example {

    &__title {}

    &__slider {
        width: 65%;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slide {
        width: 100%;

        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            margin: 0 auto;
        }
    }

    &__text {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;

        p {
            display: block;
            font-size: 25px;

            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }


    &__wrapper {
        display: flex;

        div {
            width: 50%;
            margin-top: 20px;
        }

        li {
            list-style: none;
        }
    }
}

.slide {
    animation: slide 1s;
}

@keyframes slide {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.next,
.prev {
    width: 150px;
    position: absolute;
    cursor: pointer;
    margin-top: 25%;

    img {
        width: 100%;
    }
}

.prev {
    left: -150px;
}

.next {
    right: -150px;

    img {
        transform: rotate(-180deg);
    }
}


.footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;

    &__logo {
        width: 33%;
    }

    &__info {
        width: 33%;
    }

    &__nav {
        width: 33%;
        text-align: center;

        ul {
            list-style: none;
            font-size: 30px;
            color: white;

            li {
                font-size: 22px;
                margin-top: 30px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.info {
    color: white;

    &__title {
        font-size: 30px;
        text-align: center;
    }

    &__text {
        font-size: 22px;
        text-align: center;
        margin-top: 30px;
    }
}